/.venv
/.~lock.ds-capstone-template-coursera.pptx#
/SpaceX-Machine-Learning-Prediction-Part-5-v1.ipynb
/ds-capstone-template-coursera.pptx
/jupyter-labs-eda-dataviz-v2.ipynb
/jupyter-labs-eda-sql-coursera_sqllite.ipynb
/jupyter-labs-webscraping.ipynb
/lab-jupyter-launch-site-location-v2.ipynb
/labs-jupyter-spacex-Data wrangling-v2.ipynb
/spacex_launch_geo (1).csv
/spacex_launch_geo.csv